:root {
  --primary-color-red: hsl(0, 78%, 62%);
  --primary-color-cyan: hsl(180, 62%, 55%);
  --primary-color-orange: hsl(34, 97%, 64%);
  --primary-color-blue: hsl(212, 86%, 64%);
  --very-darkBlue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-lightGrey: hsl(0, 0%, 98%);
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--very-lightGrey);
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--grayish-blue);
  font-size: 1.5rem;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1,
h2,
.text-header {
  color: var(--very-darkBlue);
}

h1 {
  font-size: 2.4rem;
  margin-top: 0;
  margin-bottom: 1.6rem;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

p {
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 3.2rem;
}

.text-header {
  font-size: 2.4rem;
  font-weight: 200;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3.6rem;
  }

  .text-header {
    font-size: 3.6rem;
  }

  p {
    font-size: 1.5rem;
  }
}

/* Card */

.card {
  border-radius: 8px;
  border-top: 3px solid var(--primary-color-blue);
  background: #fff;
  width: 31rem;
  padding: 2.7rem;
}

/* Icon*/
.icon-container {
  display: flex;
  justify-content: flex-end;
}
.icon {
  width: 57px;
  height: 57px;
}

@media screen and (min-width: 769px) {
  .icon {
    width: 67px;
    height: 67px;
  }
}
