:root {
  --primary-color-red: hsl(0, 78%, 62%);
  --primary-color-cyan: hsl(180, 62%, 55%);
  --primary-color-orange: hsl(34, 97%, 64%);
  --primary-color-blue: hsl(212, 86%, 64%);
  --very-darkBlue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-lightGrey: hsl(0, 0%, 98%);
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--very-lightGrey);
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--grayish-blue);
  font-size: 1.5rem;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1,
h2,
.text-header {
  color: var(--very-darkBlue);
}

h1 {
  font-size: 2.4rem;
  margin-top: 0;
  margin-bottom: 1.6rem;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

p {
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 3.2rem;
}

.text-header {
  font-size: 2.4rem;
  font-weight: 200;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3.6rem;
  }

  .text-header {
    font-size: 3.6rem;
  }

  p {
    font-size: 1.5rem;
  }
}

/* Card */

.card {
  border-radius: 8px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  background: #fff;
  min-width: 31rem;
  max-width: 35rem;
  padding: 2.7rem;
}

.card--blue {
  border-top: 3px solid var(--primary-color-blue);
}
.card--orange {
  border-top: 3px solid var(--primary-color-orange);
}
.card--cyan {
  border-top: 3px solid var(--primary-color-cyan);
}
.card--red {
  border-top: 3px solid var(--primary-color-red);
}

/* Icon*/
.icon-container {
  display: flex;
  justify-content: flex-end;
}
.icon {
  width: 57px;
  height: 57px;
}

@media screen and (min-width: 769px) {
  .icon {
    width: 67px;
    height: 67px;
  }
}

/* Grid */
.grid {
  display: grid;
  justify-content: center;
  align-content: center;
  max-width: 1110px;
  row-gap: 2rem;
}

/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.grid-item-one,
.grid-item-four {
  align-self: center;
}

.grid-items {
  display: grid;
  row-gap: 2rem;
}

@media screen and (min-width: 768px) {
  .grid-3x1 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 2rem;
  }
}
